<ion-view view-title="Listado de paseos" class="vista">

  <ion-content >

     <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Buscar" ng-model="nombre">
  </label>
</div>

    <div class="list" ng-repeat="lista in lista | filter:nombre | orderBy:'_id'"  style="margin-bottom: 0px;" >

      <div class="item item-button-right">
        {{lista.nombre_paseador}}
      <button class="button btnlist" ng-click="detalles(lista._id)">
      <i class="icon ion-arrow-right-a"></i>
      </button>
   </div>

  </div>
    
  </ion-content>
</ion-view>